div {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul div img {
  margin-top: 20px;
  width: 100px;
  justify-self: flex-end;
  align-self: center;
}

 h3 {
  background: rgb(29, 57, 111);
  margin-top: 0;
  padding: 15px;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: end;
  justify-content: flex-end;
  background: rgb(41, 79, 156);
}

li {
  background: rgb(41, 79, 156);
  padding: 15px;
  padding-right: 10px;
}

@media (min-width: 768px) {

  .countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    text-align: end;
    justify-content: flex-end;
    background: rgb(41, 79, 156);
  }

  .countries li:nth-child(odd) {
    background: rgb(48, 94, 186);
  } 
}

.arrow-details {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0 5px 3px 5px;
  z-index: 1000;
  font-weight: 600;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.loading img {
  width: 100px;
}

@media (max-width: 76px) {
  /* ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  } */

  ul div img {
    margin-top: 20px;
    width: 100px;
  }

  .arrow-details {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0 5px 3px 5px;
    z-index: 1000;
    font-weight: 600;
    margin-left: 80px;
  }
}
