.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 15px;
  background: rgb(29, 57, 111);
}

.top span {
  margin-right: 10px;
}

.top a {
  font-size: 30px;
  font-weight: 700;
}

.flag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  background: rgb(48, 94, 186);
  padding-bottom: 20px;
  padding-inline: 20px;
}

.flag img {
  width: 300px;
}

.flag h2 span {
  font-weight: 300;
  font-size: 16px;
}

.statistics {
  display: row;
  flex-direction: column;
  justify-content: space-between;
}

.statistics li {
  padding-block: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.statistics li span {
  font-size: 20px;
  font-weight: 500;
} 
